body {
    background: #0ea7db;
    font-family: "Lato", sans-serif;
  }
  
  h1 {
    text-align: center;
  }
  
  .dia h1 {
    color: #0ea7db;
  }
  
  .envoltura, .dia, .noche {
    transition: all .5s;
    display: flex;
    align-items: center;
  }
  
  .envoltura {
    min-height: 97vh;
  }
  
  .dia{
    width: 25%;
    height: 68vh;
    background: #fff;
    min-height: 400px;
    position: relative;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
    padding: 5% 5% 10%;
  }
  
  /* divs */
  .usuario-label, .div-password {
    position: relative;
    padding-bottom: 20px;
  }
  
  /* detalles interiores divs */
  .usuario-label input, .div-password input {
    width: 300px;
    height: 30px;
    border-radius: 8px;
    font-size: 15px;
    padding: 0 15px;
    border: 2px solid #000;
    background: transparent;
    color: #000;
    outline: none;
  }
  
  .usuario-label label, .div-password label {
    position: absolute;
    top: -15%;
    left: 30px;
    font-size: 16px;
    padding: 0 2px;
    background: #fff;
    color: #000;
    transition: .3s ease;
  }
  
  .usuario-label input:focus, .div-password input:focus {
    border: 2px solid #0ea7db;
    transition: 0.3s ease;
  }
  
  /* boton */

  .btn-ingresar{
    padding-left: 35%;
  }

  .btn-ingresar input {
    background: #0ea7db;
    width: 50%;
    height: 40px;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 8px;
    border: 1px solid #0ea7db;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.14), 0 6px 8px rgba(0, 0, 0, 0.28);
  }
  
  .btn-ingresar input:hover {
    cursor: pointer;
    background: #098cb8;
    border: 1px solid #098cb8;
    transition: 0.2s ease;
  }
  
  .btn-registrar a {
    text-decoration: none;
    color: #0ea7db;
    transition: 0.3s ease;
  }
  
  .btn-registrar a:hover {
    color: #0a81a9;
    font-size: 19px;
  }
  
  /* elementos */
  .dia-inicio {
    /* JS configuration goes here */
  }



/*----------------------------------------*/
/*-------------NOCHE REGISTRO-------------*/

.noche{
    width: 25%;
    height: 68vh;
    left: 30%;
    background: #141414;
    min-height: 400px;
    position: relative;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
    padding: 5% 5% 10%;
  }

.noche h1{
    color: #fff
}

/*divs*/
.correo-registro, .usuario-registro, .fecha-nacimiento, .password-registro, .confirmar-password{
    position: relative;
    padding-bottom: 20px;
  }

/*detalles interiores divs*/
.correo-registro input, .usuario-registro input, .fecha-nacimiento input, .password-registro input, .confirmar-password input{
    width: 300px;
    height: 30px;
    border-radius: 8px;
    font-size: 15px;
    padding: 0 15px;
    border: 2px solid #e0e0e0;
    background: transparent;
    color: #dcdada;
    outline: none;
  }

.correo-registro label, .usuario-registro label, .fecha-nacimiento label, .password-registro label, .confirmar-password label{
    position: absolute;
    top: 0%;
    left: 15px;
    transform: translateY(-50%);
    color: #d6d6d6;
    font-size: 18px;
    pointer-events: none;
    transition: .3s ease;
}

.correo-registro label, .usuario-registro label, .fecha-nacimiento label, .password-registro label, .confirmar-password label{
    top:-2%;
    left: 30px;
    font-size: 16px;
    padding: 0 2px;
    background: #141414;
}

.correo-registro input:focus, .usuario-registro input:focus, .fecha-nacimiento input:focus, .password-registro input:focus, .confirmar-password input:focus{ /*para que label funciono toco hacerlo desde js*/
    border: 2px solid #373838;
    transition: 0.3s ease;
}

/*botones*/
.cancelar-registro input, .btn-registrar-usuario input{
    background: #edf0f2;
    width: 40%;
    height: 40px;
    float: left;
    margin-left: 20px;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 8px;
    border: 1px solid #edf0f2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.14), 0 6px 8px rgba(0, 0, 0, 0.28);
  }
  
  .cancelar-registro input:hover, .btn-registrar-usuario input:hover {
    cursor: pointer;
    background: #d5d6d6;
    border: 1px solid #d5d6d6;
    transition: 0.2s ease;
  }

/*elementos*/
.noche-registro{
    /*esto va luego que el javascript sea configurado*/
}

.noche{
  display: none;
}
/*---------------------------------------------------*/
/*--------------------movimiento js-----------------*/
.movimiento-derecha-dia{
  animation: movimientoDerecha 0.5s ease forwards;
}

@keyframes movimientoDerecha{
  from{
    transform: translateX(0);
    opacity: 0;
  }
  to{
    transform: translateX(185.5%);
    z-index: 0;
    opacity: 1;
  }
}

.registro-animacion{
  animation: animacionRegistro 0.5s ease forwards;
}

@keyframes animacionRegistro {
  from{
    height: 50px;
  }
}
