<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style_login.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <title>Sign in</title>
</head>
<body>
    <div class="nube">

    </div>

    <div class="envoltura">
        <!--Inicio de sesion-->
        <div class="dia">
            <form action="" id="inicio_Sesion" method="post">
                <!--Se debe realizar la funcion de este formulario-->
                {% csrf_token %}
                <h1>INICIAR SESION</h1>
                <div class="usuario-label">
                    <label for="usuario-label">Usuario o Gmail</label>
                    <input type="text" id="usuario_email" name="usuario_email" required>
                </div>
                <div class="div-password">
                    <label for="">Contraseña</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <div class="btn-ingresar">
                    <input type="submit" value="INGRESAR" id="ingresar">
                </div>
                <div class="btn-registrar">
                    <p>¿Aun no tienes cuenta? registrate gratis <a href="">AQUI</a></p>
                </div>
            </form>
        </div>

        <!--Registro-->
        <div class="noche">
        <form action="login/" method="POST" id="registrar_usuario">
            {% csrf_token %}
            <h1>CREAR USUARIO</h1>
            <div class="noche-registro">
                <!--aqui iran los elementos del registro noche, estrellas y luna-->
            </div>
            <h4 class="alertaError" id="alertaError" style="color: brown; text-align: center;" ></h4>
            <div class="correo-registro">
                <label for="">Correo Electronico</label>
                <input type="mail" id="email_usuario" name="email_usuario">
            </div>
            <div class="usuario-registro">
                <label for="">Nombre de Usuario</label>
                <input type="text" id="nombre_usuario" name="nombre_usuario">
            </div>
            <div class="fecha-nacimiento">
                <label for="">Fecha de Nacimiento</label>
                <input type="date" id="fecha_nacimiento" name="fecha_nacimiento">
            </div>
            <div class="password-registro">
                <label for="">Password</label>
                <input type="password" id="password1" name="password1">
            </div>
            <div class="confirmar-password">
                <label for="">Confirmar Password</label>
                <input type="password" id="password2" name="password2">
            </div>
            <!--la validacion de la contraseña y el correo se hara en html con django y un poco de dom quizas-->
            <div class="cancelar-registro">
                <input type="submit" value="REGISTRAR" id="registrar" name="registrar">
            </div>
            <div class="btn-registrar-usuario">
                <input type="button" value="VOLVER" id="cancelar" name="cancelar">
            </div>
        </form>
        </div>
    </div>
    <script src="../static/javascript/style_login.js"></script>
</body>
</html>